.scroller {
  --animation-duration: 40s;
  --animation-direction: normal; /* use normal instead of forwards */
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite;
  animation-direction: var(--animation-direction);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}