

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Noto+Sans+Thai:wght@300;400;600&display=swap");

@import "tailwindcss";
@import 'antd/dist/reset.css';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

:root {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

body {
  font-family: 'Noto Sans Thai', 'Poppins', sans-serif;
}