

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Noto+Sans+Thai:wght@300;400;600&display=swap");

@import "tailwindcss";
@import 'antd/dist/reset.css';

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

body {
  font-family: 'Noto Sans Thai', 'Poppins', sans-serif;
}